<div class="coffee-config">
  <!-- <milk-type></milk-type>
  <syrup-type></syrup-type>
  <sweetner-type></sweetner-type> -->

  <div>
      <ion-list>
          <ion-item>
              <ion-select [(ngModel)]="milk">
                  <ion-option value="full">Full Cream</ion-option>
                  <ion-option value="light">Light Blue</ion-option>
                  <ion-option value="trim">Trim</ion-option>
                  <ion-option value="soy">Soy</ion-option>
                  <ion-option value="almond">Almond</ion-option>
              </ion-select>
          </ion-item>
        </ion-list>
      
      <ion-list>
        <ion-item>
            <ion-select [(ngModel)]="shot">
                <ion-option value="none">None</ion-option>
                <ion-option value="caramel">Caramel</ion-option>
                <ion-option value="vanilla">Vanilla</ion-option>
                <ion-option value="chai">Chai</ion-option>
                <ion-option value="hazlenut">Hazlenut</ion-option>
            </ion-select>
        </ion-item>
      </ion-list>
  </div>



</div>
