$padding: 10px 15px;

food {
.food-header {
    width: 100%;
    min-height: 60px;
  background: #607D8B;
    color:#fff;
    padding: $padding;
  position: relative;
  }

  .food-list {
    position: relative;

    .food-list-ul {
      position: relative;
      .food-list-li {
        height: 50px;
      }
    }

  }
}
