$padding: 10px 15px;

drinks {

  .drinks-header {
    width: 100%;
    min-height: 60px;
    background: #607D8B;
    color:#fff;
    padding: $padding;
    position:relative;
  }

  .drinks-list {

  }
}
